@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.twoLineElipses {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mxContent {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.themeBorder {
  border: 1px solid #fb0a12;
}

.btnLg {
  width: 130px;
}

.themeBtn1 {
  color: #fb0a12;
  border: 1px solid #fb0a12;
  background: transparent;
  border-radius: 4px;
}

.themeBtn2 {
  color: white;
  background: #fb0a12;
  border: 1px solid #fb0a12;
  border-radius: 4px;
}

.themeBtn3 {
  border-radius: 2px;
  border: solid 1px #e1e1e1;
  background-color: #f1f1f1;
}

.lightColor {
  color: #676767;
}

.lightGrayBg {
  background: #f7f7f7;
}

.linkColor {
  color: #008cff;
}

.greenColor {
  color: #00c457;
}

.redColor {
  color: #fb0a12;
}

.darkColor {
  color: #222222;
}

.borderRound {
  border-radius: 6px;
}

.btnHover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.btnHover:hover {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.page_container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.hero_sec {
  margin-top: 5rem;
}

.topBordersRadius {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.headerContainer {
  position: fixed;
  left: 0%;
  top: 0%;
  z-index: 1;
  background: #ffff;
  border-bottom: 1px solid #e1e1e1;
  height: 80px;
}

.headerContainer .innerHeaderContainer {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.headerContainer .navLinks {
  left: 44%;
  top: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
}

.headerContainer .navLinks ul li a {
  font-size: 1rem;
  line-height: 1.19;
  letter-spacing: -0.4px;
}

.headerContainer .navLinks ul li.nestedOne:hover .nestedNav {
  display: block;
  opacity: 1;
}

.headerContainer .navLinks .nestedNav {
  top: 110%;
  left: -10%;
  width: 160px;
  display: none;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.headerContainer .navLinks .nestedNav .nestedLink:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.headerContainer .logo {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .headerContainer {
    height: 60px;
  }
  .headerContainer .logo {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  .headerContainer .logo {
    width: 84%;
  }
}

@media screen and (max-width: 300px) {
  .headerContainer .logo {
    width: 76%;
  }
}

.SideBarContainer {
  position: fixed;
  right: 0%;
  left: 0%;
  bottom: 0%;
  color: #000;
  font-size: 3.5rem;
  background-color: #fff;
  height: 100vh;
  padding: 0rem 5rem;
  z-index: 11111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.SideBarContainer ul li {
  margin-bottom: 2rem;
  cursor: pointer;
}

.SideBarContainer ul li a {
  font-size: 2rem;
}

.CrossBTn {
  position: absolute;
  top: 3.2%;
  right: 5.5%;
  cursor: pointer;
  font-size: 1.8rem;
}

.whyEndalgo_hero {
  width: 100%;
  height: 596px;
  background-color: #111217;
}

@media screen and (max-width: 768px) {
  .whyEndalgo_hero {
    height: 452px;
  }
}

.groupMembers {
  background-color: #f7f7f7;
  padding: 80px 0px 88px 0px;
  margin-top: 5rem;
  margin-bottom: 5.5rem;
}

.groupMembers h5 {
  margin-bottom: 12px;
}

.groupMembers .groupMCont {
  padding: 2.5rem;
}

.groupMembers .groupMCont img {
  width: 48%;
}

.groupMembers .groupMCont h5 {
  font-size: 1.5rem;
  line-height: 1.25;
}

.groupMembers .groupMCont p {
  line-height: 1.38;
}

.groupMembers.whyEndalgo {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.groupMembers.whyEndalgo .main_head {
  font-size: 38px;
}

.groupMembers.weGotBack {
  padding: 80px 0px 88px;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.groupMembers.weGotBack h4 {
  font-size: 32px;
  line-height: 1.19;
}

.groupMembers.weGotBack h6 {
  font-size: 18px;
  line-height: 1.33;
}

.groupMembers.getStarted {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.groupMembers.getStarted h2 {
  font-size: 38px;
  margin-bottom: 24px;
}

.startGroup {
  padding: 80px 0px 88px;
}

.startGroup h2 {
  font-size: 38px;
  line-height: 1.26;
}

.startGroup .underHead {
  margin-bottom: 48px;
  font-size: 18px;
}

.startGroup .rowCont {
  --bs-gutter-x: 2rem;
}

.leaderCardCont .textContent {
  margin: 24px 0px;
  padding: 0px 24px;
}

.leaderCardCont .textContent h5 {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 12px;
}

.leaderCardCont .textContent h6 {
  font-size: 16px;
  line-height: 1.38;
  margin: 12px 0 0;
}

.memberCardWhy h5 {
  font-size: 20px;
  line-height: 1.3;
  margin: 24px 0px 8px;
}

.memberCardWhy h6 {
  font-size: 14px;
  line-height: 1.43;
  margin: 8px 0px 0;
}

.ourCustomer {
  padding: 3rem 0rem 3.5rem 0rem;
}

.ourCustomer h5 {
  line-height: 26px;
  font-size: 1.25rem;
  color: #676767;
}

.groupManagement {
  width: 100%;
  height: 596px;
  background-color: #111217;
}

.groupManagement h2 {
  font-size: 3rem;
  font-weight: bolder !important;
  line-height: 60px;
}

.groupManagement h6 {
  line-height: 26px !important;
  color: #222222;
  font-size: 1.25rem;
  font-weight: 300;
}

.groupManagement .shareBtn img {
  width: 135px;
  height: 40px;
}

.groupManagement .groupHeroBtn {
  margin-top: 40px;
}

@media screen and (max-width: 1050px) {
  .groupManagement {
    padding: 4rem 0rem 0rem 0rem;
    height: 100%;
  }
  .groupManagement .banner {
    width: 100%;
    height: 100%;
  }
  .groupManagement .shareBtn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .groupManagement {
    padding: 2.5rem 0rem 0rem 0rem;
  }
  .groupManagement .groupHeroBtn {
    margin-top: 40px;
    margin-bottom: 32px;
  }
}

.memberCardHow h5 {
  margin: 24px 1px 8px 0;
  font-size: 20px;
}

.memberCardHow h6 {
  margin: 8px 1px 0 0;
  font-size: 14px;
  line-height: 20px;
}

.endalgoApp {
  padding: 112px 0px 120px 0px;
}

.endalgoApp h2 {
  font-size: 2.375rem;
  line-height: 48px;
}

.endalgoApp h6 {
  color: #222222;
  font-size: 1.125rem;
  line-height: 26px !important;
  margin: 24px 0px;
}

.endalgoApp p {
  font-size: 1rem;
}

.endalgoApp .points {
  margin: 24px 0px;
  color: #676767;
}

.endalgoApp .points p {
  margin-bottom: 8px;
}

.endalgoApp .points p .icon {
  font-size: 1.8rem;
}

.endalgoApp .points p:nth-child(2) .icon {
  font-size: 2.2rem;
}

.endalgoApp .points p:nth-child(3) .icon {
  font-size: 1.9rem;
}

.communityLeader {
  margin-top: 40px;
  padding: 112px 0px 120px 0px;
}

.communityLeader h2 {
  font-size: 2.375rem;
  line-height: 48px;
}

.communityLeader h6 {
  margin: 24px 0px;
  font-size: 1.125rem;
  line-height: 24px;
  color: #222222;
  font-weight: 300;
}

.communityLeader .points {
  margin: 24px 0px;
  color: #676767;
}

.communityLeader .points p {
  margin-bottom: 8px;
}

.communityLeader .points p .icon {
  font-size: 1.5rem;
}

.communityLeader .points p:nth-child(2) .icon {
  font-size: 1.7rem;
}

.communityLeader .points p:nth-child(3) .icon {
  font-size: 1.9rem;
}

@media screen and (min-width: 1200px) {
  .communityLeader .rightText {
    padding-left: 5rem;
  }
}

.communityLeader.scheduling {
  margin-top: 0px;
  margin-bottom: 80px;
}

@media screen and (min-width: 1200px) {
  .communityLeader.scheduling .rightside {
    padding-left: 5rem;
  }
}

.communityPeople {
  padding: 112px 0px 120px 0px;
  background-color: #f7f7f7;
}

.communityPeople h2 {
  font-size: 2.375rem;
  line-height: 48px;
}

.communityPeople h6 {
  margin: 24px 0px;
  color: #222222;
  font-size: 1.125rem;
  line-height: 24px;
  font-weight: 300;
}

.communityPeople p {
  font-size: 1rem;
}

.communityPeople .points {
  margin: 24px 0px;
  color: #676767;
}

.communityPeople .points .point {
  margin-bottom: 8px;
}

.communityPeople .points .point .icon {
  font-size: 1.5rem;
}

@media screen and (min-width: 1200px) {
  .communityPeople .rightText {
    padding-left: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .communityLeader .rightText,
  .communityPeople .rightText {
    padding-left: 0.56rem;
  }
  .communityLeader.scheduling .rightside {
    padding-left: 0.56rem;
  }
}

.endalgoApp.bgLightGray {
  padding: 112px 0px 120px 0px;
  background-color: #f7f7f7;
}

.groupFeature {
  padding: 0px 0px 120px 0px;
}

.groupFeature .upperHead {
  font-size: 18px;
}

.groupFeature .groupFeatureCard {
  padding: 40px 32px;
  border-radius: 8px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.835);
          box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.835);
  border: solid 1px #e1e1e1;
  background-color: #fff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.groupFeature .groupFeatureCard:hover {
  -webkit-box-shadow: 0 5px 10px 0 rgba(204, 204, 204, 0.835);
          box-shadow: 0 5px 10px 0 rgba(204, 204, 204, 0.835);
}

.groupFeature .groupFeatureCard h5 {
  font-size: 1.5rem;
  line-height: 30px;
}

.groupFeature .cardUpperCont {
  --bs-gutter-x: 2rem;
}

.groupFeature .colCont {
  margin-top: 2rem;
}

.groupFeature .desc {
  margin-top: 12px;
  margin-bottom: 32px;
  font-size: 1rem;
  line-height: 22px;
  font-weight: 300;
}

.groupFeature .minsHead {
  font-size: 1.25rem;
  margin-bottom: 12px;
  line-height: 26px;
  font-weight: 500;
}

.groupFeature h2 {
  font-size: 2.375rem;
  line-height: 48px;
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .groupFeature .groupFeatureCard {
    width: 448px;
    height: 224px !important;
  }
  .groupFeature .groupFeatureCard .desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.endalgoForLeaders {
  padding: 5rem 0rem 5.5rem 0rem;
}

.endalgoForLeaders h2 {
  font-size: 38px;
  line-height: 1.26;
}

.endalgoForLeaders .rowCont {
  --bs-gutter-x: 2rem;
}

.endalgoForLeaders .colCont {
  margin-top: 2rem;
}

.emailArriveCont {
  padding: 0px 0px 120px 0px;
}

.emailArriveCont .topHead {
  font-size: 1.25rem;
  line-height: 26px;
}

.emailArriveCont h3 {
  font-size: 2.375rem;
  line-height: 48px;
  margin-bottom: 48px;
}

.emailArriveCont .icon {
  width: 40px;
  height: 40px;
}

.emailArriveCont .desc {
  font-size: 0.9rem;
  line-height: 1.43;
}

.getStartedCont {
  background: #ce090f;
  padding: 80px 0px 88px 0px;
}

.getStartedCont h1 {
  font-size: 3rem;
  margin-bottom: 0.75rem;
}

.getStartedCont h5 {
  font-size: 1.2rem;
}

.getStartedCont button:nth-child(1) {
  color: #ce090f;
}

.groupManagement.endalgoHome {
  background-color: #f7f7f7;
}

.groupManagement.endalgoHome .heroImg img {
  height: auto;
  width: 100%;
}

.howEndalgo {
  padding: 80px 0px 88px 0px;
}

.howEndalgo h2 {
  font-size: 2.375rem;
  line-height: 3rem;
}

.howEndalgo .under_head {
  font-size: 1.125rem;
  line-height: 24px;
  margin-bottom: 48px;
}

.popularGroup {
  padding: 112px 0px 120px 0px;
}

.popularGroup h5 {
  font-size: 1.5rem;
}

.popularGroup h6 {
  font-size: 1.125rem;
  line-height: 24px;
}

.popularGroup .upperCardCont {
  margin-top: 32px;
}

.popularGroup .rowCont {
  --bs-gutter-x: 2rem;
}

.popularGroupCard {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.popularGroupCard small {
  font-size: 0.75rem;
  line-height: 20px;
}

.popularGroupCard .textPart {
  height: 130px;
}

.trusted {
  background: #111217;
  border-radius: 16px;
}

.trusted .rightSide {
  left: 4%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40%;
}

.trusted .rightSide h4 {
  font-size: 1.75rem;
  line-height: 34px;
}

.trusted .rightSide p {
  margin: 12px 48px 24px 0;
  font-size: 1rem;
  line-height: 22px;
}

.trustedCont {
  background: #111217;
  border-radius: 16px;
  height: 294px;
  background: url("../assets/trustedgroup.png");
  -webkit-clip-path: ellipse(37% 88% at 85% 50%);
          clip-path: ellipse(37% 88% at 85% 50%);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.trustedCont .innerTrustedCont {
  right: 13%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.trusted.home .trustedCont {
  background: url("../assets/test4.PNG");
  height: 394px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.trusted2 {
  background: #111217;
  border-radius: 16px;
}

.trusted2 .rightSide {
  left: 50%;
  top: 5%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 85%;
}

@media screen and (max-width: 320px) {
  .trusted2 .rightSide {
    left: 46%;
    top: 4%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 85%;
  }
}

.trustedCont2 {
  min-height: 660px;
  background: #111217;
  border-radius: 16px;
  -webkit-clip-path: ellipse(83% 41% at 50% 82%);
          clip-path: ellipse(83% 41% at 50% 82%);
  background: url("../assets/testHomeM.PNG");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}

.trustedCont2 .innerTrustedCont {
  right: 50%;
  bottom: 25%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.trustedCont2 .innerTrustedCont x h4 {
  font-size: 1.75rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.trustedCont2 .innerTrustedCont .starIcon {
  font-size: 24px;
  margin-bottom: 12px;
}

.trusted2.home .trustedCont2 {
  background: url("../assets/testHomeM.PNG");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}

.topCities {
  padding: 40px 0px 48px 0px;
}

.topCities h4 {
  margin-bottom: 24px;
}

.topCities div {
  font-size: 1rem;
}

.footerContainer {
  width: 100%;
  border-top: 1px solid #e1e1e1;
}

.footerContainer .innerFooter {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.footerContainer .footerLine {
  height: 100%;
  width: 3px;
  background: #000;
}

@media screen and (max-width: 768px) {
  .footerContainer {
    background-color: #f7f7f7;
  }
  .footerContainer .openSection {
    background-color: #ffffff85;
  }
  .getStartedCont h1 {
    font-size: 2.5rem;
  }
  .hero_sec {
    margin-top: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .communityPeople img,
  .coachesExp img {
    width: 544px !important;
    height: 586px;
  }
  .groupManagement.endalgoHome .heroImg img {
    width: 640px;
    height: 534px;
  }
  .communityLeader img {
    width: 544px !important;
    height: 586px;
  }
  .endalgoApp img {
    width: 544px !important;
    height: 586px;
  }
  .groupMembers.getStarted .groupMCont img {
    height: 135px;
    width: 135px;
  }
}

.coachesExp {
  padding: 112px 0px 120px 0px;
  margin-bottom: 40px;
}

.coachesExp h2 {
  font-size: 2.375rem;
  line-height: 48px;
}

.coachesExp h6 {
  margin: 24px 0px;
  color: #222222;
  font-size: 1.125rem;
  line-height: 24px;
}

.coachesExp p {
  font-size: 1rem;
}

.coachesExp .points {
  margin: 24px 0px;
  color: #676767;
}

.coachesExp .points .icon {
  font-size: 1.5rem;
}

.coachesExp .points .point {
  margin-bottom: 8px;
}

@media screen and (max-width: 575px) {
  .groupManagement h2 {
    font-size: 2rem;
    line-height: 1.19;
  }
  .groupManagement h6 {
    font-size: 1.125rem;
    line-height: 1.33;
  }
  .howEndalgo h2 {
    font-size: 1.75rem;
    line-height: 1.21;
  }
  .howEndalgo .under_head {
    font-size: 16px;
    line-height: 1.38;
    margin-bottom: 8px;
  }
  .memberCardHow h5 {
    font-size: 18px;
    line-height: 1.33;
    margin: 16px 0 8px;
  }
  .memberCardHow h6 {
    font-size: 12px;
    line-height: 1.17;
    margin: 8px 0 0;
  }
  .communityPeople {
    padding: 80px 0px 36px 0px;
  }
  .communityPeople h2 {
    font-size: 28px;
    line-height: 1.21;
    margin: 0 0 16px;
  }
  .communityPeople h6 {
    font-size: 16px;
    line-height: 1.38;
    margin: 16px 0;
  }
  .communityPeople .points .point {
    font-size: 14px;
    line-height: 1.43;
    margin: 8px 0 8px 0px;
  }
  .communityPeople .points .point .icon {
    font-size: 1.3rem;
  }
  .coachesExp {
    padding: 80px 0px 88px;
    margin-bottom: 32px;
  }
  .coachesExp h2 {
    font-size: 28px;
    line-height: 1.21;
    margin: 0 0 16px;
  }
  .coachesExp h6 {
    font-size: 16px;
    line-height: 1.38;
    margin: 16px 0;
  }
  .coachesExp p {
    font-size: 14px;
    line-height: 1.43;
    margin: 16px 0 8px 0px;
  }
  .coachesExp .points .icon {
    font-size: 1.2rem;
  }
  .trusted2 .rightSide h4 {
    font-size: 22px;
    line-height: 1.27;
  }
  .trusted2 .rightSide p {
    margin: 12px 0 16px;
    font-size: 14px;
    line-height: 1.43;
  }
  .trusted2 .rightSide button {
    font-size: 14px;
    line-height: 1.43;
  }
  .popularGroup h5 {
    font-size: 22px;
    line-height: 1.27;
  }
  .popularGroup h6 {
    line-height: 1.43;
    font-size: 16px;
  }
  .ourCustomer {
    padding-top: 0rem;
  }
  .ourCustomer h5 {
    font-size: 18px;
    line-height: 1.33;
    margin: 40px 0 8px;
  }
  .communityLeader {
    padding: 80px 0 88px 0;
  }
  .communityLeader h2 {
    font-size: 28px;
    line-height: 1.21;
  }
  .communityLeader h6 {
    font-size: 16px;
    line-height: 1.38;
  }
  .communityLeader .points p .icon {
    font-size: 2rem;
  }
  .communityLeader .points p:nth-child(2) .icon {
    font-size: 2.2rem;
  }
  .communityLeader .points p:nth-child(3) .icon {
    font-size: 2.4rem;
  }
  .endalgoApp.bgLightGray {
    padding: 80px 0 87px;
  }
  .endalgoApp h2 {
    font-size: 28px;
    line-height: 1.21;
  }
  .endalgoApp h6 {
    font-size: 16px;
    line-height: 1.38 !important;
    margin: 16px 0;
  }
  .endalgoApp p {
    font-size: 14px;
    line-height: 1.43;
  }
  .endalgoApp .points {
    margin: 24px 0px;
    color: #676767;
  }
  .endalgoApp .points p {
    margin-bottom: 8px;
  }
  .endalgoApp .points p .icon {
    font-size: 2rem;
  }
  .endalgoApp .points p:nth-child(2) .icon {
    font-size: 2.6rem;
  }
  .endalgoApp .points p:nth-child(3) .icon {
    font-size: 2.1rem;
  }
  .groupFeature .minsHead {
    font-size: 18px;
    line-height: 1.33;
  }
  .groupFeature h2 {
    font-size: 28px;
    line-height: 1.21;
    margin: 8px 0 8px;
  }
  .groupFeature .groupFeatureCard h5 {
    font-size: 22px;
  }
  .emailArriveCont .topHead {
    font-size: 18px;
    line-height: 1.33;
  }
  .emailArriveCont h3 {
    font-size: 28px;
    line-height: 1.21;
    margin: 8px 0 8px;
  }
  .getStartedCont h1 {
    font-size: 32px;
    line-height: 1.19;
  }
  .groupMembers.whyEndalgo {
    padding: 64px 0px 72px;
    margin-bottom: 0rem;
  }
  .groupMembers.whyEndalgo .short_head {
    font-size: 16px;
  }
  .groupMembers.whyEndalgo .main_head {
    font-size: 28px;
  }
  .groupMembers.whyEndalgo .main_head:nth-child(1) {
    margin: 8px 0 32px;
  }
  .groupMembers.whyEndalgo .memberCardWhy h5 {
    font-size: 18px;
    margin: 16px 0 8px;
    line-height: 1.33;
  }
  .groupMembers.whyEndalgo .memberCardWhy h6 {
    font-size: 12px;
    margin: 8px 0 0;
    line-height: 1.17;
  }
  .endalgoForLeaders h2 {
    font-size: 28px;
    line-height: 1.21;
  }
  .leaderCardCont .textContent h5 {
    font-size: 22px;
    line-height: 1.27;
  }
  .leaderCardCont .textContent h6 {
    font-size: 14px;
    line-height: 1.43;
  }
  .groupMembers.weGotBack {
    padding: 64px 0px 72px;
  }
  .groupMembers.weGotBack h4 {
    font-size: 28px;
    margin: 0 0 24px;
    line-height: 1.21;
  }
  .groupMembers.weGotBack h6 {
    font-size: 16px;
    line-height: 1.38;
  }
  .startGroup h2 {
    font-size: 28px;
    line-height: 1.21;
  }
  .startGroup .underHead {
    font-size: 16px;
    line-height: 1.38;
    margin: 8px 0px 16px;
  }
  .groupMembers.getStarted h2 {
    font-size: 28px;
  }
  .groupMembers .groupMCont {
    padding: 24px;
  }
  .groupMembers .groupMCont img {
    width: 80px;
    height: 80px;
  }
  .groupMembers .groupMCont h5 {
    font-size: 22px;
    line-height: 1.27;
  }
  .groupMembers .groupMCont p {
    font-size: 14px;
    line-height: 1.43;
  }
}
/*# sourceMappingURL=style.css.map */