@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

// VARIABLES START
$themeColor: rgb(251, 10, 18);
// VARIABLES END

// GLOBAL CLASSES START
html {
	width: 100%;
	font-size: 100%;
}
@media screen and (max-width: 992px) {
	html {
		font-size: 97%;
	}
}
@media screen and (max-width: 668px) {
	html {
		font-size: 94%;
	}
}
@media screen and (max-width: 575px) {
	html {
		font-size: 91%;
	}
}
@media screen and (max-width: 475px) {
	html {
		font-size: 88%;
	}
}
@media screen and (max-width: 380px) {
	html {
		font-size: 85%;
	}
}
@media screen and (max-width: 280px) {
	html {
		font-size: 83%;
	}
}

.themeBtn1 {
	color: $themeColor;
	border: 1px solid $themeColor;
	background: transparent;
	border-radius: 4px;
}

.themeBtn2 {
	color: white;
	background: $themeColor;
	border: 1px solid $themeColor;
	border-radius: 4px;
}

.themeBtn3 {
	border-radius: 2px;
	border: solid 1px #e1e1e1;
	background-color: #f1f1f1;
}

.lightColor {
	color: #676767;
}

.greenColor {
	color: #00c457;
}

.redColor {
	color: #fb0a12;
}

.borderRound {
	border-radius: 6px;
}

.pointer {
	cursor: pointer;
}

.page_container {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

.hero_sec {
	margin-top: 3.5rem;
}

// ===== HEADER START ======
.headerContainer {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	z-index: 1;
	background: #ffff;
	border-bottom: 1px solid #e1e1e1;
	padding: 0.6rem 0rem;

	.innerHeaderContainer {
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}

	.navLinks {
		left: 44%;
		top: 50%;
		transform: translate(-50%, -30%);

		ul {
			li {
				a {
					font-size: 1rem;
				}
			}
			li.nestedOne:hover .nestedNav {
				display: block;
				opacity: 1;
			}
		}

		.nestedNav {
			top: 110%;
			left: -10%;
			width: 160px;	
			// border: 1px solid rgb(242, 242, 242);
			display: none;
			opacity: 0;
			transition: 1s;

			.nestedLink:hover {
				background-color: rgba(0,0,0,0.1);
			} 
		}
	}

	.logo {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.headerContainer {
		.logo {
			width: 100%;
		}
	}
}
@media screen and (max-width: 460px) {
	.headerContainer {
		.logo {
			width: 84%;
		}
	}
}
@media screen and (max-width: 300px) {
	.headerContainer {
		.logo {
			width: 76%;
		}
	}
}
// ===== HEADER END ======

// ===== SIDEBAR START ======
.SideBarContainer {
	position: fixed;
	right: 0%;
	left: 0%;
	bottom: 0%;
	color: #000;
	font-size: 3.5rem;
	background-color: #fff;
	height: 100vh;
	padding: 0rem 5rem;
	z-index: 11111;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	transition: 0.5s;
}

.SideBarContainer ul li {
	margin-bottom: 2rem;
	cursor: pointer;

	a {
		font-size: 2rem;
	}
}

.CrossBTn {
	position: absolute;
	top: 3.2%;
	right: 5.5%;
	cursor: pointer;
	font-size: 1.8rem;
}
// ===== SIDEBAR END ======

// ===== WHY ENDALGO HERO START ======
.whyEndalgo_hero {
  width: 100%;
  height: 596px;
	background-color: #111217;
}
@media screen and (max-width: 768px) {
	.whyEndalgo_hero {
  height: 452px;
}
}
// ===== WHY ENDALGO HERO END ======

// ===== GROUP MEMBERS START ======
.groupMembers {
	background-color: #f7f7f7;
}
// ===== GROUP MEMBERS END ======


// ===== FOOTER START ======
.footerContainer {
	width: 100%;
	border-top: 1px solid #e1e1e1;

	.innerFooter {
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}

	.footerLine {
		height: 100%;
		width: 3px;
		background: #000;
	}
}

@media screen and (max-width: 768px) {
	.footerContainer {
		background-color: #f7f7f7;

		.openSection {
			background-color: #ffffff85;
		}
	}
}
// ===== FOOTER END ======